.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
p {
    font-size: 17px;
}
.thumb-icon {
    font-size: 22px;
    margin-right: 5px;
}
.container {
    .centered-photo {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            width: 100%;
        }
    }
}
.list-centered {
    width: auto;
    text-align: center;
    li {
        display: inline;
        &:after {
            content: "\A";
            white-space: pre;
        }
    }
}
.list-item-with-icon {
    @font-size: @font-size-base - 2px;
    i {
        display: inline-block;
        min-width: @font-size + 4px;
        font-size: @font-size;
    }
    font-size: @font-size;
    margin-bottom: 5px;
}


.label {
    font-size: 12px;
    padding: 2px;
    padding-left: 5px;
}


.bg-gradient(@from, @to) {
    background: -webkit-linear-gradient(left 0%,     @from, @to); /*Safari 5.1-6*/
    background:      -o-linear-gradient(right,    @from, @to); /*Opera 11.1-12*/
    background:    -moz-linear-gradient(right,    @from, @to); /*Fx 3.6-15*/
    background:         linear-gradient(to right, @from, @to);
}
