nav.navbar {
    &-collapse {
        border: 0;

    }


    .navbar-nav {
        border-bottom: 0px;

        li {
            font-size: ceil((@font-size-base * 1.3));
            &:first-child {
                padding-left: 0;
            }
            padding: 15px;
            &.active {
                text-decoration: underline;
            }
            @media (max-width: 768px){
                padding: 0;
            }

        }
    }
    .socials {
        font-size: 20px;
        .visible-xs {
            position: absolute;
            top: 0
            right: 0;
            width: 50px;
        }
    }
    margin-bottom: 0;
}
