nav.navbar {
    &-collapse {
        border: 0;

    }
    .navbar-nav {
        border-bottom: 0px;
        li {
            &:first-child {
                padding-left: 0;
            }
            padding: 15px;
            &.active {
                text-decoration: underline;
            }
        }
    }
    .socials {
        &:after { clear: both; }
        font-size: 20px;
    }
}
