<div ng-include src="'partials/nav.html'"></div>
<div class="container">
  <div class='profile-photo centered-photo'></div>
  <div class="text-center">
    <view-title>{{ 'TEMPLATES.HOME.META_TITLE' | translate }}</view-title>
    <h1 translate>TEMPLATES.HOME.TITLE</h1>
    <div class="lead" btf-markdown="'TEMPLATES.HOME.INTRO' | translate"></div>
    <button class='btn btn-primary' ui-sref="contact" translate>TEMPLATES.HOME.CONTACT_BTN</button>
  </div>
</div>
<div ng-include src="'partials/footer.html'"></div>
