<nav class="navbar navbar-static-top">
    <div class="navbar-collapse">
        <div class="visible-xs">
            <button type="button" class="btn navbar-toggle" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                <span class="fa fa-bars"></span>
            </button>

            <ul class="nav navbar-nav collapse-navbar" ng-class="{ collapse: isCollapsed }">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="projects.list">Projects</a></li>
                <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
                <li ui-sref-active="active"><a ui-sref="resume">Résumé</a></li>
                <li>
                    <a  href="https://twitter.com/Toutenrab"
                        rel="nofollow"
                        target="_blank"
                        title="Toutenrab on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a  href="https://www.linkedin.com/profile/view?id=138099227"
                        rel="nofollow"
                        target="_blank"
                        title="My LinkedIn profile">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a  href="https://github.com/pbellon"
                        rel="nofollow"
                        target="_blank"
                        title="My GitHub account">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container hidden-xs">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="projects.list">Projects</a></li>
                <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
                <li ui-sref-active="active"><a ui-sref="resume">Résumé</a></li>
                <li>
                    <a  href="https://twitter.com/Toutenrab"
                        rel="nofollow"
                        target="_blank"
                        title="Toutenrab on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a  href="https://www.linkedin.com/profile/view?id=138099227"
                        rel="nofollow"
                        target="_blank"
                        title="My LinkedIn profile">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a  href="https://github.com/pbellon"
                        rel="nofollow"
                        target="_blank"
                        title="My GitHub account">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
