<nav class="navbar navbar-static-top">
    <div class="navbar-collapse">
        <div class="visible-xs" ng-init="isCollapsed=true" >
            <span class="navbar-brand navbar-brand-outside" ng-show="isCollapsed == true">
                <a ui-sref="portfolio.home">{{ globals().name }}</a>
            </span>
            <button type="button" class="btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="fa fa-bars"></span>
            </button>
            <ul class="nav navbar-nav collapse-navbar" ng-class="{ collapse: isCollapsed }" ng-include="'partials/nav-list.html'">
            </ul>
        </div>
        <div class="container hidden-xs">
            <ul class="nav navbar-nav" ng-include="'partials/nav-list.html'">
            </ul>
        </div>
    </div>
</nav>
