<div ng-include src="'partials/nav.html'"></div>
<div class="container projects">
    <h1>Stuff I'm proud of</h1>
    <div class="row">
        <div class='col-sm-12 tag-list tag-list--selected'>Selected tags:
            <span ng-show="projects.selectedTags.length == 0">empty</span>
            <span ng-repeat="tag in projects.selectedTags" class="label label-default tag-list__item">
                {{ tag }} <a class='tag-list__item__remove-btn' ng-click="projects.unselectTag(tag)"><i class="fa fa-close"></i></a>
            </span>
        </div>
        <div class="projects__list">
            <div class='col-sm-4 col-xs-12 projects__list__item'
                 ng-repeat="project in projects.filteredProjects()">
                <h3>
                    <a ui-sref="projects.detail({id: project.id})">{{ project.title }}</a>
                </h3>
                <h5> {{ project.subtitle }}</h5>

                <div class="projects__list__item__thumbnail thumbnail">
                    <img ng-src="{{ project.thumbnail }}"/>
                </div>
                <div class="projects__list__project__tags tag-list">
                    <span ng-repeat="tag in project.tags"
                          class="label label-primary tag-list__item"
                          ng-click="projects.selectTag(tag)">{{ tag }}
                    </span>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
